.homeSection {
   background-color: $green_100;
   padding: 40px;
   color: white;
   font-family: 'Archivo', sans-serif;
   min-height: 100vh;
   display: flex;
   box-sizing: border-box;
}
.homeSection__title {
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
  max-width: 499px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &--last {
    margin-top: 54px;
    flex: 1;
  }
}
.homeSection__arrowDown {
  height: 27px;
  width: 20px;
  background-image: url(../images/arrow-down.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 20px;
  border: 0;
  cursor: pointer;
  transition: transform 150ms ease;
  outline: none;
  &:hover {
    transform: translateY(5px);
  }
}
.worksSection__item_info {
  display: flex;
  flex-direction: row;
}
.worksSection__item_infoSection {
  width: 50%;
}
.worksSection__item__name,
.worksSection__item__work {
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
}
.worksSection__item__work {
  color: #CCCCCC;
}
.worksSection__item__name {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
}
.worksSection__item__description {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 1.2em;
  font-family: 'Roboto', sans-serif;
}
.worksSection__item__wrapImages {
  display: flex;
  flex-direction: column;
}
.worksSection__item__wrapGroupImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .worksSection__item__image {
    width: calc(50% - 12px);
  }
}
.worksSection__item__image {
  margin-bottom: 24px;
}
.worksSection__item {
  border-bottom: 1px solid #EAEAEA;
  padding: 120px 40px;
}
.worksSection__item_team {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.worksSection__item_wrapTeamMember {
  width: 50%;
}
.worksSection__item_teamMember {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  display: inline;
  color: rgba(0, 0, 0, 0.6);
  &::after{
    content: ',';
  }
  &:last-child {
    &::after{
      content: '';
    }
  }
}
.footerSection {
  height: 415px;
  background-color: $green_100;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: white;
  .content{
    padding: 80px 40px;
    flex-direction: row;
    box-sizing: border-box;
  }
}
.footerSection__menu,
.footerSection__copyright {
  width: 50%;
}

.footerSection__menu_itemLink {
  color: white;
  text-decoration: none;
  &:hover {
    opacity: .7;
  }
}